#info-page {
    text-align: center;
    padding: 40px 0px;
}

#info-page div {
    text-align: center;
    padding: 30px 0px;
}

.titulo {
    font-size: 50px;
}

.parrafo {
    text-align: left;
    margin: 0 auto;
    width: 50%;
    font-size: 30px;
}